.login-container {
    width: 300px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 100px; /* Adjust the top margin to vertically center it */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text inside the container */
  }
  
  /* Optional: Style the button */
  .login-container button {
    background-color: rgb(23, 23, 24);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Optional: Add hover effect to the button */
  .login-container button:hover {
    background-color: rgb(101, 101, 124);
  }
  